---
import BaseLayout from "../layouts/BaseLayout.astro"
import siteData from "../data/siteData.json"
import Link from "../components/Link.astro"
import Card from "../components/Card.astro"
import { getUserSample } from "../utils/utils.js"
const my_num = 1
const my_date = new Date()
const fruits = ['apple', 'banana', 'cherry']
const obj = { name: 'John', age: 30 }
const res = await fetch('https://productsapi-n5p2.onrender.com/api/v1/products')
const data = await res.json()
const user = await getUserSample()
---
<BaseLayout title="Home">
	<h1>Card Component Exercise</h1>
	<div style={{display:"ruby-text"}}>
		{data.map((item, index) => (
			<Card
				img={item.image}
				alt={item.id}
				pill={item.id}
				title={item.title}
				description={item.description}
				author_img={user.avatar}
				author_name={user.name}
				time="2 hours ago"
			/>
		))}
	</div>
	<Link href="/about">About</div></Link>
</BaseLayout>